<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362426558666-3ucsnsannv9a7shnapfrb04v23jnj7kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362426558666-3ucsnsannv9a7shnapfrb04v23jnj7kj</string>
	<key>API_KEY</key>
	<string>AIzaSyBjP1pinxW-wJN7cFOFDqM-nexDp1kkynY</string>
	<key>GCM_SENDER_ID</key>
	<string>362426558666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deveem.gptalks-ios-app</string>
	<key>PROJECT_ID</key>
	<string>gptalks-a1014</string>
	<key>STORAGE_BUCKET</key>
	<string>gptalks-a1014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362426558666:ios:28a38e81d2ba9573dc2c33</string>
</dict>
</plist>